<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Future</title>
     <link rel="stylesheet" href="freelancer.css" type="text/css" />
    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/freelancer.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="css/pages.css" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">


</head>

<body id="page-top" class="index">


    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Europe_orthographic_Caucasus_Urals_boundary_%28with_borders%29.svg/537px-Europe_orthographic_Caucasus_Urals_boundary_%28with_borders%29.svg.png" width="260" class="img-responsive img-centered" alt="">
                    <div class="intro-text">
                        <span class="name">Europe</span>
                        <hr class="star-light">

                    </div>
                </div>
            </div>
        </div>
  </header>
  <section id="info">
    <div class="row">

<center>
<form method="post" action="/europe">
  <h2>Choose Year</h2>



  <div class="checkbox">
    <h3>What do you think the life expectancy of your region will be</h3>
      <input type="text" name="life20">
    <label><input type="checkbox" name="compare20"value="2020"><h3>2020</h3></label>
    </div>
<div class="checkbox">
  <h3>What do you think the life expectancy of your region will be</h3>
      <input type="text" name="life30">
  <label><input type="checkbox" value="2030"><h3>2030></h3></label>
</div>
<div class="checkbox">
  <h3>What do you think the life expectancy of your region will be</h3>
      <input type="text" name="life40">
  <label><input type="checkbox" value="2040"><h3>2040</h3></label>
 </div>
  <div class="checkbox">
    <h3>What do you think the life expectancy of your region will be</h3>
      <input type="text" name="life50">
    <label><input type="checkbox" value="2050"><h3>2050</h3></label>
        </div>
     <input type="submit">
    </form>

    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Australia</h2>
                            <hr class="star-primary">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Australia_with_AAT_%28orthographic_projection%29.svg/791px-Australia_with_AAT_%28orthographic_projection%29.svg.png" width="260" class="img-responsive" alt="Australia" width="260" class="img-responsive img-centered" alt="Australia">
 <div class="checkbox">
  <label><input type="checkbox" value="">2020</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">2030</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">2040</label>
 </div>
  <div class="checkbox">
  <label><input type="checkbox" value="">2050</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/freelancer.min.js"></script>

</body>

</html>
