<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Future</title>
     <link rel="stylesheet" href="freelancer.css" type="text/css" />
    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/freelancer.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="css/pages.css" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

<style>
  </style>
</head>

<body id="page-top" class="index">


    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="http://s.orzzzz.com/news/3b/89//545876b4b161d.jpg" alt="">
                    <div class="intro-text">
                        <span class="name">The World Up TO 2050</span>
                        <hr class="star-light">
                        <span class="skills">Demographics - Population - Life Expectatancy</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="Regions">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Regions</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="/northamerica" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Location_North_America.svg/2000px-Location_North_America.svg.png" class="img-responsive" width="260"  alt="North America">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="/southamerica" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/South_America_(orthographic_projection).svg/541px-South_America_(orthographic_projection).svg.png" width="260" class="img-responsive" alt="South America">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>

                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Europe_orthographic_Caucasus_Urals_boundary_%28with_borders%29.svg/537px-Europe_orthographic_Caucasus_Urals_boundary_%28with_borders%29.svg.png" class="img-responsive" width="280" alt="Europe">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="/europe" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Asia_%28orthographic_projection%29.svg/541px-Asia_%28orthographic_projection%29.svg.png" width="260" class="img-responsive" alt="Asia">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Africa_%28orthographic_projection%29.svg/550px-Africa_%28orthographic_projection%29.svg.png" width="260" class="img-responsive" alt="Africa">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Australia_with_AAT_%28orthographic_projection%29.svg/791px-Australia_with_AAT_%28orthographic_projection%29.svg.png" width="260" class="img-responsive" alt="Australia">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>The Whole World by 2050</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
               <img src ="http://www.pewforum.org/files/2015/04/PF_15.04.02_ch1graphics_lifeExpectancy310px.png">
              </div>
              <div class="col-lg-8 col-lg-offset-2">
                <img src= "http://news.nationalgeographic.com/content/dam/news/photos/000/838/83845.adapt.768.1.jpg" id ="graph2">
                <div class="col-lg-8 col-lg-offset-2">
                  <img src= "http://www.forecastingnet.com/CO2%20level.png">
                </div>
              </div>
             </div>


<!--     <!-- Footer -->

    <!-- Portfolio Modals -->
<!--     <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>North America</h2>
                            <hr class="star-primary">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Location_North_America.svg/2000px-Location_North_America.svg.png" width="260" class="img-responsive img-centered" alt="North America">
                          <a href="" class ="btn btn-info dropdown-toggle">2020</a>
                          <a href="" class ="btn btn-info dropdown-toggle">2030</a>
                          <a href="" class ="btn btn-info dropdown-toggle">2040</a>
                          <a href="" class ="btn btn-info dropdown-toggle">2050</a>

                     </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
 -->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>South America</h2>
                            <hr class="star-primary">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/South_America_(orthographic_projection).svg/541px-South_America_(orthographic_projection).svg.png" width="260" class="img-responsive img-centered" alt="South America">
                            <div class="checkbox">
                              <label><input type="checkbox" value="">2020</label>
                            </div>
                            <div class="checkbox">
                              <label><input type="checkbox" value="">2030</label>
                            </div>
                            <div class="checkbox">
                              <label><input type="checkbox" value="">2040</label>
                             </div>
                            <div class="checkbox">
                              <label><input type="checkbox" value="">2050</label>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>


    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Europe</h2>
                            <hr class="star-primary">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Europe_orthographic_Caucasus_Urals_boundary_%28with_borders%29.svg/537px-Europe_orthographic_Caucasus_Urals_boundary_%28with_borders%29.svg.png" class="img-responsive" width="280" class="img-responsive img-centered" alt="Europe">
 <div class="checkbox">
  <label><input type="checkbox" value="">2020</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">2030</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">2040</label>
 </div>
  <div class="checkbox">
  <label><input type="checkbox" value="">2050</label>
</div>
   </div>
     </div>
        </div>
             </div>


    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
           <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Asia</h2>
                            <hr class="star-primary">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Asia_%28orthographic_projection%29.svg/541px-Asia_%28orthographic_projection%29.svg.png" width="260" class="img-responsive img-centered" alt="Asia">
 <div class="checkbox">
  <label><input type="checkbox" value="">2020</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">2030</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">2040</label>
 </div>
  <div class="checkbox">
  <label><input type="checkbox" value="">2050</label>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Africa</h2>
                            <hr class="star-primary">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Africa_%28orthographic_projection%29.svg/550px-Africa_%28orthographic_projection%29.svg.png" width="260" class="img-responsive img-centered" alt="Africa">
 <div class="checkbox">
  <label><input type="checkbox" value="">2020</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">2030</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">2040</label>
 </div>
  <div class="checkbox">
  <label><input type="checkbox" value="">2050</label>
 </div>
        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Australia</h2>
                            <hr class="star-primary">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Australia_with_AAT_%28orthographic_projection%29.svg/791px-Australia_with_AAT_%28orthographic_projection%29.svg.png" width="260" class="img-responsive" alt="Australia" width="260" class="img-responsive img-centered" alt="Australia">
 <div class="checkbox">
  <label><input type="checkbox" value="">2020</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">2030</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">2040</label>
 </div>
  <div class="checkbox">
  <label><input type="checkbox" value="">2050</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/freelancer.min.js"></script>

</body>

</html>
