<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>North America</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link href="public/css/freelancer.css" rel="stylesheet"/>

    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">



  </head>
  <body>
    <div class="container" >
      <div class="row">
        <h1>North America</h1>
        <div class="col-md-4">
      <h2>Demographics</h2>
        <ul>
          <li>In 2020 </li>
          <li>In 2030 </li>
          <li>In 2040 </li>
          <li>In 2050 </li>
          </ul>
        </div>
        
        <div class="col-md-4">
          <h2>Population</h2>
          <ul>
          <li>In 2020 </li>
          <li>In 2030 </li>
          <li>In 2040 </li>
          <li>In 2050 </li>
          </ul>
        </div>
        
        <div class="col-md-4">
          <h2>Life Expectancy</h2>
          <ul>
          <li>In 2020 </li>
          <li>In 2030 </li>
          <li>In 2040 </li>
          <li>In 2050 </li>
          </ul>
        </div>

  
      </div>
    </div>
  </body>
</html>