<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>North America</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link href="public/css/freelancer.css" rel="stylesheet"/>

    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">



  </head>
  <body>
    <div class="container" >
      <div class="row">
        <h1>North America</h1>
       <form>
      <h3>What do you think the life expectancy of your region will be in 2050?</h3>
      <input type="text" name="life_guess">
      <input type="submit">
    </form>


      </div>
    </div>
  </body>
</html>